.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.section-divider {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-divider::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
    border-radius: 2px;
}

.title-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 30px;
}

.title {
    font-size: 3rem;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 0;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 12px 12px;
    padding: 10px;
    width: 43%;
    height: 180px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-align: left;
    display: flex;
}

.card:hover {
    transform: scale(1.05);
}

.card-details {
    flex: 1;
    padding-left: 15px;
    margin-right: 10px;
    text-align: left;
    width: 60%;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.card-description {
    margin-top: 10px;
}

.current-member-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-member {
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
    padding: 0 0 10px 0;
}

.learn-more-button {
    padding-top: 30px;
    background-color: #68B3A9;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.learn-more-button:hover {
    background-color: #4db6ac;
}